**.orig
*.rbc
*.sassc
.DS_Store
.project
.rspec
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
seoserver/*.log
seoserver/node_modules
seoserver/node_modules/*
capybara-*.html
db/schema.rb
dump.rdb
pickle-email-*.html
rerun.txt
dump.*
npm-debug.*