// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

@import url(http://fonts.googleapis.com/css?family=Signika:300)

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Base Colors ----- //
$base-color-primary: #59295d
$base-text-color-primary: #fff
$base-color-second: #7a4e7e
$base-text-color-second: $base-color-primary
$base-color-third: #9d849d
$base-color-fourth: #3f203f
$base-link-color: #fff

// ----- Base Borders & Box Shadows ----- //
$base-border: 1px solid $base-color-primary
$base-borderRadius: 3px
$base-boxShadow: 0 1px 2px $base-color-primary

// ----- Base Content ----- //
$base-fontFamily: 'Signika', sans-serif
$base-fontSize: 16px
$base-lineHeight: 1.5

// ----- Base Layout ----- //
$base-whitespace: 1px

// ----- Content ----- //
$c-header-fontFamily: $base-fontFamily

// ----- Layout ----- //
$l-maxWidth: 980px

// ----- Padding ----- //
$default-padding: 10px

// ----- Header ----- //
$header-background: $base-color-primary
$header-height: 70px
$header-shadow: $base-color-primary

// ----- Shoes ----- //
$shoes-height: 190px
$shoes-width: 210px
$shoes-gutter: 10px

// ----- Shoe ----- //
$shoe-title-height:  60px

// ----- Pagination ----- //
$pagination-height: 100px