// *************************************
//
//   Header
//
// *************************************

header
  +box-shadow(rgba($header-shadow, 0.40) 0px 5px 10px)
  background: $header-background
  height: rem($header-height)
  position: fixed
  width: 100%

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule

