// *************************************
//
//   Header
//
// *************************************

header
  @extend %grid-box
  +box-shadow(rgba($header-shadow, 0.70) 0px 5px 10px)
  border-bottom: 1px solid $header-shadow
  background: $header-background
  height: rem($header-height)
  position: fixed
  text-align: center
  top: 0
  width: 100%
  z-index: 2

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier
.header--logo
  @extend %grid-box
  @extend %grid-box--xlg--1of1
  @extend %grid-box--lg--1of1
  @extend %grid-box--md--1of1
  @extend %grid-box--sm--1of1
  @extend %grid-box--xs--1of1

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule

header
  h1
    display: none
  a
    cursor: pointer

  a.logo
    +inline-block
    background: url(asset_path('logo.png')) no-repeat
    cursor: pointer
    height: rem($header-height)
    text-indent: -9999px
    width: 210px