// *************************************
//
//   Nav
//
// *************************************

nav
  @extend %grid-box
  @extend %grid-box--xlg--2of12
  @extend %grid-box--lg--2of12
  @extend %grid-box--md--2of12
  @extend %grid-box--sm--2of12
  @extend %grid-box--xs--2of12
  background: $nav-background
  height: 100%
  position: fixed
  top: $header-height

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule