// *************************************
//
//   Nav
//
// *************************************

nav
  @extend %grid-box--1of3
  @extend %grid-box--xlg--2of12
  @extend %grid-box--lg--2of12
  @extend %grid-box--md--2of12
  @extend %grid-box--sm--2of12
  @extend %grid-box--xs--4of12
  background: $nav-background
  display: none
  height: 100%
  margin-top: rem($header-height)

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier
.nav--list
  @extend %grid-box
  @extend %grid-box--xlg--1of3
  @extend %grid-box--lg--1of2
  @extend %grid-box--md--1of2
  @extend %grid-box--sm--1of1
  @extend %grid-box--xs--1of2

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
nav
  position: fixed
  overflow: auto
  h1, h3
    font-weight: normal
    font-size: 12px
    letter-spacing: 1px
    margin: 12px 6px 0 12px
  ul
    margin-top: 15px
    li
      a, h1
        @extend %ellipsis
        background: #fff
        color: $secondary-color
        color: $secondary-color
        display: block
        font-size: 12px
        margin: 2px 6px
        padding: 4px 6px 4px 20px
        &:before
          border: 1px solid $tertiary-color
          content: ' '
          position: relative
          right: 15px
          width: 1px

      h1
        +opacity(0.7)
        font-weight: bold
        margin-left: 2px
        text-transform: none
        &:before
          border: 1px solid $quaternary-color