// *************************************
//
//   Shoes
//
// *************************************

// .module
.shoes
  width: 100%
  @extend %grid-box
  margin-top: $header-height
  padding: rem(10px)

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier
.shoes--box
  @extend %grid-box
  @extend %grid-box--xlg--2of8
  @extend %grid-box--lg--2of6
  @extend %grid-box--md--2of4
  @extend %grid-box--sm--2of2
  @extend %grid-box--xs--1of1
  padding: 0

.shoes--thumb
  @extend %shoes--shoe
  @extend %grid-box--xlg--1of2
  @extend %grid-box--lg--1of2
  @extend %grid-box--md--1of2
  @extend %grid-box--sm--1of2
  @extend %grid-box--xs--1of1
  height: $shoes-height + $grid-gutter

.shoes--long
  @extend %shoes--shoe
  @extend %grid-box--xlg--1of2
  @extend %grid-box--lg--1of2
  @extend %grid-box--md--1of2
  @extend %grid-box--sm--1of2
  @extend %grid-box--xs--1of1
  height: ($shoes-height + $grid-gutter) * 2

.shoes--wide
  @extend %shoes--shoe
  @extend %grid-box--xlg--2of2
  @extend %grid-box--lg--2of2
  @extend %grid-box--md--2of2
  @extend %grid-box--sm--2of2
  @extend %grid-box--xs--2of1
  height: $shoes-height + $grid-gutter

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state
.shoes--long.is-right
  @extend %l-pullRight

// .shoes--box.is-last--1of4
//   @extend %grid-box--xlg--1of1
//   .shoes--thumb
//     @extend %grid-box--xlg--1of8
//   .shoes--long
//     @extend %grid-box--xlg--1of8
//   .shoes--wide
//     @extend %grid-box--xlg--2of8

// .shoes--box.is-last--2of4
//   @extend %grid-box--xlg--4of8
//   .shoes--thumb
//     @extend %grid-box--xlg--1of4
//   .shoes--long
//     @extend %grid-box--xlg--1of4
//   .shoes--wide
//     @extend %grid-box--xlg--2of4

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
%shoes--shoe
  @extend %grid-box
  text-align: center

  .l-middle
    background: white
    img
      max-width: 100%
      max-height: 100%