// *************************************
//
//   Shoe
//
// *************************************
.shoe
  height: 100%
  margin-top: rem($header-height)
  padding: rem($default-padding)

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier

// -------------------------------------
//   States
// -------------------------------------

.is-shoe-thumb-selected
  @extend %img-filter-selected
  img
    @extend %img-filter-none

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //
.shoe-photos
  @extend %grid-box
  @extend %grid-box--xlg--9of12
  @extend %grid-box--lg--8of12
  @extend %grid-box--md--8of12
  @extend %grid-box--sm--1of1
  @extend %grid-box--xs--1of1
  text-align: center

  .main
    background: #fff
    div
      height: 100%
    img
      max-width: 100%
      max-height: 100%

  .thumbs_container
    @extend %grid-box
    background: $primary-color

    .thumb
      @extend %grid-box--5of12
      @extend %grid-box--xlg--1of10
      @extend %grid-box--lg--1of8
      @extend %grid-box--md--2of10
      @extend %grid-box--sm--1of5
      @extend %grid-box--xs--3of10
      @extend %img-filter-unselected
      +inline-block
      background: #fff
      height: rem($shoe-thumb-height)
      margin: rem($default-padding)
      div
        height: 100%
      img
        @extend %img-filter-unselected
        max-width: 90%
        max-height: 90%
        display: inline-block
        vertical-align: middle

.shoe-description
  @extend %grid-box
  @extend %grid-box--xlg--3of12
  @extend %grid-box--lg--4of12
  @extend %grid-box--md--4of12
  @extend %grid-box--sm--1of1
  @extend %grid-box--xs--1of1
  text-align: center

  .l-description
    +clearfix
    background: #fff

  .title
    background: $primary-color
    height: rem($shoe-title-height)
    &:after
      @extend %down-tip

    h1
      line-height: $shoe-title-height
      a
        cursor: normal
        text-decoration: none

  .brand
    padding: rem($default-padding * 2)

  .price
    padding: rem($default-padding * 2)
    color: $text-secondary-color
    letter-spacing: 1px

  .description
    @extend %c-justify
    background: $secondary-color
    max-height: rem($shoe-description-height)
    padding: rem($default-padding * 2)
    overflow: auto

  .grid
    +clearfix
    background: $secondary-color
    padding-top: rem($default-padding)
    ul
      margin: 0
      li.number
        @extend %grid-box
        @extend %grid-box--1of9
        @extend %grid-box--xlg--2of12
        @extend %grid-box--lg--2of12
        @extend %grid-box--md--2of12
        @extend %grid-box--sm--1of12
        @extend %grid-box--xs--1of12
        @extend %color-scale
        height: rem($shoe-list-grid-height)
        line-height: rem($shoe-list-grid-height)

  .button
    background: url(asset_path('tons_scales.png'))
    padding: 12px 0
    .visit_link
      background-color: #236aa8
      a
        height: rem($btn-height)
        line-height: rem($btn-height)
        margin: 0 auto
        text-align: right
        width: rem($shoe-button-visit-link)
        i
          @extend %i
          @extend %cart
