// *************************************
//
//   Shoes
//
// *************************************
article.list
  @extend %grid-box--2of3
  @extend %grid-box--xlg--10of12
  @extend %grid-box--lg--10of12
  @extend %grid-box--md--10of12
  @extend %grid-box--sm--10of12
  @extend %grid-box--xs--2of3
  float: right

.shoes
  @extend %grid-box
  padding: rem($default-padding)
  margin-top: rem($header-height)

// -------------------------------------
//   Modifiers
// -------------------------------------

// .module--modifier
.shoes--box
  @extend %grid-box
  @extend %grid-box--xlg--2of6
  @extend %grid-box--lg--2of4
  @extend %grid-box--md--2of4
  @extend %grid-box--sm--1of1
  @extend %grid-box--xs--1of1
  padding: 0

.shoes--thumb
  @extend %shoes--shoe
  @extend %grid-box--xlg--1of2
  @extend %grid-box--lg--1of2
  @extend %grid-box--md--1of2
  @extend %grid-box--sm--1of2
  @extend %grid-box--xs--1of1
  height: $shoes-height + $grid-gutter

.shoes--long
  @extend %shoes--shoe
  @extend %grid-box--xlg--1of2
  @extend %grid-box--lg--1of2
  @extend %grid-box--md--1of2
  @extend %grid-box--sm--1of2
  @extend %grid-box--xs--1of1
  height: ($shoes-height + $grid-gutter) * 2

.shoes--wide
  @extend %shoes--shoe
  @extend %grid-box--xlg--2of2
  @extend %grid-box--lg--2of2
  @extend %grid-box--md--2of2
  @extend %grid-box--sm--2of2
  @extend %grid-box--xs--2of1
  height: $shoes-height + $grid-gutter

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state
.shoes--long.is-right
  @extend %l-pullRight

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
%shoes--shoe
  @extend %grid-box
  text-align: center
  position: relative
  .price
    +border-corner-radius(top, left, 50%)
    +border-corner-radius(bottom, left, 50%)
    +border-corner-radius(bottom, right, 50%)
    background: $primary-color
    font-size: rem(24px)
    padding: rem(16px) 0
    position: absolute
    width: rem(68px)
    top: 3px
    right: 3px
    sup
      font-size: rem(8px)

  .l-middle
    background: white
    img
      max-width: 95%
      max-height: 95%