!!! 5
%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'lang' => 'pt-br', 'xml:lang' => 'pt-br', 'xmlns:og' => 'http://opengraphprotocol.org/schema/', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    %title Busca Sapato
    %meta{ content: '', name: 'description'}
    %meta{ content: 'width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0', name: 'viewport' }
    %meta{ content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Signika:300', rel: 'stylesheet', type: 'text/css' }


    = stylesheet_link_tag :application, media: 'all'
    = csrf_meta_tags

  %body
    %header
    %main
      %nav
      %article.list
      %article.shoe

    = javascript_include_tag :application
    = yield :javascript